body {
	width: 75em;
	margin: 0;
	padding: 0;
}

.traka {
	background-color: #e3e3e3;
	height: 7.5em;
}

.dugme {
	display: block;
	background-color: orange;
	vertical-align: middle;
	//text-align: center;
	border-radius: 0.5em;
	
}

.lista {
	position: relative;
	display: inline;
	float: right;
	margin-right: 7em;
}

.lista li {
	display: inline;
	font-family: helvetica;
	font-color: gray;
	font-size: 12px;
}

